
@media (min-width : 610px) and (max-width: 1024px){
    
    html{
        display: flex;
        overflow-x: hidden;
    }

    .product-button{
        display: none;
    }

    /* ======================== home content ====================*/
    .description{
        text-align: center;
    }

    #Home .intro .description h1{ 
        font-size: 42px;
    }
    #Home .intro .landing-img img{
        width: 100%;
    }
    #Home .intro .landing-img{
        display: flex;
        justify-content: center;
    }

    .search-tab{
        display: block;
        align-items: center;
    }

    .search-box{
        margin-block: 1rem;
    }

    .selection-tab{
        width: 90%;
        height: 450px;
        margin: auto;
        text-align: center;
        position: relative;
    }
    .search-box{
        position: relative;
    }
    .result-box{
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    .result-box2{
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    .search-button button{
        width: 520px;
    }
    /* =================== about section ===================*/
    .change-button{
        display: none;
    }
    .progress-bar{
        display: none;
    }
    .head-content{
        align-items: center;
        text-align: center;
    }
    .head-content{
        display: flex;
        justify-content: center;
    }
    /* Product =============================== */
    .content-product{
        display: flex;
        flex-direction: column;
    }
    .product-description{
        margin: 0 auto;
        text-align: center;
    }
    .scroll-content-wrapper{
        overflow-x: scroll;
    }

    /* Pricing ========================================= */
    .pricing-room{
        margin: 0;
        padding: 0;
    }

}